{{ define "main" }}

<div id="content">
  
  <div class="grid-container">
    
	<div class="grid-x">
    {{ if (isset .Params "image") }}
  	<div class="cell" align="center"> 
		  <img class="banner" src={{ .Params.image }}>
	  </div>
    {{ end }}
    <div class="cell">
      <h3>
        {{ .Title }}
      </h3>
      
    </div>    
	  <div class="cell">
			<p>
        {{ .Content }}
			</p>
	  </div>
	</div>
	
	<div class="cells">

	<ul>
    <!-- Ranges through content/post/*.md -->
    {{ range .Data.Pages }}
        <li>
            <a href="{{.Permalink}}">{{.Title}} | {{.Date.Format "2006-01-02"}}</a>
        </li>
    {{ end }}
    </ul>
	</div>
  </div>
  
</div>

{{ end }}
