@charset "UTF-8";
@font-face {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto Slab', serif;
  font-style: normal;
  font-weight: 400;
}

.top-bar {
  background-color: #4983C2;
  color: #0a0a0a; 
  height: 40px;
  margin-top: 0px;
  font-family: "Roboto", sans-serif;
	position: fixed;
	top: 0;
	width: 100%;
}

.top-bar ul {
  background-color: transparent;
}

.menu a,
.menu .button {
  background: #4983C2;
  color: #0a0a0a; 
  opacity: .8;
  width: 100px;  
}

.menuitem {
  background-color: transparent;
}

.callout-background {
	background-color: #0078A0;
	background-image: url("images/callout.jpg");
	background-position: bottom;
	align-content: center;
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	z-index: -1;
}

.callout-text {
  font-family: "Roboto", sans-serif;
	font-size: 20px;
	color: #fff;
	text-align: center;
	padding-top: 80vh;
	/* padding-bottom: 80px; */
}

.parallax-content {
	max-width: 100%;
	position: relative;
	top: 0px;
	padding: 20px;
	font-size: 25px;
	background-color: #fff;
	/* margin-top: 275px; */
}

.img-circle {
    border-radius: 50%;
		height: 200px;
}

.post {
	top: 40px;
	z-index: -1;
}

p {
  margin-bottom: 1.3em;
  line-height: 1.7em; 
	font-size: 0.7em;
  font-family: 'Roboto Slab', serif;
}

