<div class="top-bar">
  <div class="top-bar-left">
    <span data-responsive-toggle="main-nav" data-hide-for="medium">
      <button type="button" data-toggle><span class="fi-menu"></span></button>
    </span>
    <strong>{{ .Site.Title }}</strong>  
  </div>
  
  <div id="main-nav" data-animate="slide-in-left slide-out-left">
    <div class="top-bar-right">  
      <ul class="vertical medium-horizontal menu" data-dropdown-menu >
        <li><a href="#">One</a></li>
        <li><a href="#">Two</a></li>
        <li><a href="#">Three</a></li>
      </ul>
    </div>
  </div>
  
</div>
