<!doctype html>
<html class="no-js" lang={{ .Site.LanguageCode }} dir="ltr">
	{{ partial "head" . }}
	<body>
		<div class=row>
			{{ partial "top-bar" . }}

			{{ partial "callout" . }}
	
			<div id="homepage" class="parallax-content">
        <a id="about"></a>
				{{ range (where .Site.Pages "Type" "home") }}
					{{ .Render "content-single" }}
				{{ end }}
			</div >
			
		  <div id="post" class="post">
        <a id="blog"></a>
				{{ range (where .Site.Pages "Type" "post") }}
					{{ .Render "_index" }}
				{{ end }}
			</div >
			
    </div>
		{{ partial "scripts" . }}
  </body>
</html>